.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  width: 100%;
  @include mobile {
    width: 480px;
  }
  @include tablet {
    width: 798px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    width: 1310px;
  }
}
