<section class="section favorite__ingredients" id="favorite_ingredients">
  <div class="favorite__container container">
    <h2 class="favorite__title">Favorite ingredients</h2>
    <!-- <p class="favorite__text">You haven't added any favorite cocktails yet</p> -->

    <ul class="ingredient__card-list">
      <!-- <li class="ingredient__card">
        <div>
          <h2 class="ingredient__card-title">Campari</h2>
          <p class="ingredient__card-text">Liqueur</p>
          <div class="btn__list">
            <button type="button" class="btn__learn-more">Learn more</button>
            <button type="button" class="btn__remove">
              Remove
              <svg class="btn__icon" width="21" height="19">
                <use href="./images/icons/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="ingredient__card">
        <div>
          <h2 class="ingredient__card-title">Blanco tequila</h2>
          <p class="ingredient__card-text">Distilled beverage</p>
          <div class="btn__list">
            <button type="button" class="btn__learn-more">Learn more</button>
            <button type="button" class="btn__remove">
              Remove
              <svg class="btn__icon" width="21" height="19">
                <use href="./images/icons/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="ingredient__card">
        <div>
          <h2 class="ingredient__card-title">Vermouth</h2>
          <p class="ingredient__card-text">fortified wine</p>
          <div class="btn__list">
            <button type="button" class="btn__learn-more">Learn more</button>
            <button type="button" class="btn__remove">
              Remove
              <svg class="btn__icon" width="21" height="19">
                <use href="./images/icons/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</section>
