<header class="header">
  <div class="header__container container">
    <a href="./index.html" class="header__logo">
      <img src="./images/logo.svg" alt="Logo" />
    </a>
    <form class="header__search-form search-form search-form--display">
      <button class="search-form__btn">
        <svg class="search-form__icon" width="20" height="20">
          <use href="./images/icons/sprite.svg#icon-search"></use>
        </svg>
      </button>
      <input type="text" class="search-form__input" placeholder="Search" />
    </form>
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <div class="menu__content">
        <div class="header__action">
          <label class="header__theme-mode" for="checkbox">Light</label>
          <label class="header__switch switch" for="checkbox">
            <input class="switch__input" type="checkbox" id="checkbox" />
            <div class="switch__slider"></div>
          </label>
          <label class="header__theme-mode" for="checkbox">Dark</label>
        </div>
        <nav class="menu__navigation navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a
                href="./index.html"
                class="navigation__link navigation__link--current"
                >Home</a
              >
            </li>
            <li class="navigation__item navigation__item--submenu">
              <a href="#" class="navigation__link">Favorites</a>
              <ul class="navigation__sub-list">
                <li class="navigation__sub-item">
                  <a href="./cocktails.html" class="navigation__sub-link"
                    >Favorite Cocktails</a
                  >
                </li>
                <li class="navigation__sub-item">
                  <a href="./ingredients.html" class="navigation__sub-link"
                    >Favorite Ingredients</a
                  >
                </li>
              </ul>
              <svg class="navigation__submenu-icon" width="24" height="24">
                <use href="./images/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </nav>
        <form class="menu__search-form search-form">
          <button class="search-form__btn">
            <svg class="search-form__icon" width="20" height="20">
              <use href="./images/icons/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <input type="text" class="search-form__input" placeholder="Search" />
        </form>
      </div>
    </div>
    <div class="header__action header__action--display">
      <label class="header__theme-mode" for="checkbox1">Light</label>
      <label class="header__switch switch" for="checkbox1">
        <input class="switch__input" type="checkbox" id="checkbox1" />
        <div class="switch__slider"></div>
      </label>
      <label class="header__theme-mode" for="checkbox1">Dark</label>
    </div>
  </div>
</header>
