<section class="hero container">
  <div class="hero__box">
    <div class="hero__box-left">
      <h1 class="hero__box-title">
        A party without cocktails is not like a party
      </h1>
      <p class="hero__box-text">Sorry, we didn't find any cocktail for you</p>
      <div class="hero__box-lists">
        <ul class="hero__box-list--top">
          <li class="hero__box-letter">A</li>
          <li class="hero__box-letter">B</li>
          <li class="hero__box-letter">C</li>
          <li class="hero__box-letter">D</li>
          <li class="hero__box-letter">E</li>
          <li class="hero__box-letter">F</li>
          <li class="hero__box-letter">G</li>
          <li class="hero__box-letter">H</li>
          <li class="hero__box-letter">I</li>
          <li class="hero__box-letter">J</li>
          <li class="hero__box-letter">K</li>
          <li class="hero__box-letter">L</li>
          <li class="hero__box-letter">M</li>
          <li class="hero__box-letter">N</li>
          <li class="hero__box-letter">O</li>
          <li class="hero__box-letter">P</li>
          <li class="hero__box-letter">Q</li>
          <li class="hero__box-letter">R</li>
          <li class="hero__box-letter">S</li>
          <li class="hero__box-letter">T</li>
          <li class="hero__box-letter">U</li>
          <li class="hero__box-letter">V</li>
          <li class="hero__box-letter">W</li>
          <li class="hero__box-letter">X</li>
          <li class="hero__box-letter">Y</li>
          <li class="hero__box-letter">Z</li>
        </ul>
        <ul class="hero__box-list--bottom">
          <li class="hero__box-numb">1</li>
          <li class="hero__box-numb">2</li>
          <li class="hero__box-numb">3</li>
          <li class="hero__box-numb">4</li>
          <li class="hero__box-numb">5</li>
          <li class="hero__box-numb">6</li>
          <li class="hero__box-numb">7</li>
          <li class="hero__box-numb">8</li>
          <li class="hero__box-numb">9</li>
          <li class="hero__box-numb">0</li>
        </ul>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/desktop/drink-juice-cocktail-fruit-desktop-min.png    1x,
          ./images/hero/desktop/drink-juice-cocktail-fruit-desktop@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/drink-juice-cocktail-fruit-tablet-min.png    1x,
          ./images/hero/tablet/drink-juice-cocktail-fruit-tablet@2x-min.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/mobil/drink-juice-cocktail-fruit-mob-min.png    1x,
          ./images/hero/mobil/drink-juice-cocktail-fruit-mob@2x-min.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobil/drink-juice-cocktail-fruit-mob-min.png"
        alt="cocktail"
        class="hero__box-img"
      />
    </picture>
    <div class="hero__blok">
      <label for="cocktail" class="hero__blok-label"
        >Search your favorite cocktail by ABC</label
      >
      <div class="wrap">
        <div id="select"></div>
      </div>
    </div>
  </div>
  <div class="hero__contein">
    <p class="hero__contain-text">Sorry, we didn't find any cocktail for you</p>
    <picture>
      <source
        srcset="
          ./images/hero/desktop/group-desktop-min.png    1x,
          ./images/hero/desktop/group-desktop@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/group-tablet-min.png    1x,
          ./images/hero/tablet/group-tablet@2x-min.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/mobil/group-mobil-min.png    1x,
          ./images/hero/mobil/group-mobil@2x-min.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobil/group-mobil-min.png"
        alt="dinner"
        class="hero__contein-img"
      />
    </picture>
  </div>
</section>
