<section class="hero container">
  <div class="hero__box">
    <div class="hero__box-left" data-aos="fade-right" data-aos-duration="1500">
      <h1 class="hero__box-title">
        A party without cocktails is not like a party
      </h1>
      <p class="hero__box-text">Search your favorite cocktail by ABC</p>
      <div class="hero__box-lists">
        <ul class="hero__box-list--top">
          <li><span class="hero__box-letter">A</span></li>
          <li><span class="hero__box-letter">B</span></li>
          <li><span class="hero__box-letter">C</span></li>
          <li><span class="hero__box-letter">D</span></li>
          <li><span class="hero__box-letter">E</span></li>
          <li><span class="hero__box-letter">F</span></li>
          <li><span class="hero__box-letter">G</span></li>
          <li><span class="hero__box-letter">H</span></li>
          <li><span class="hero__box-letter">I</span></li>
          <li><span class="hero__box-letter">J</span></li>
          <li><span class="hero__box-letter">K</span></li>
          <li><span class="hero__box-letter">L</span></li>
          <li><span class="hero__box-letter">M</span></li>
          <li><span class="hero__box-letter">N</span></li>
          <li><span class="hero__box-letter">O</span></li>
          <li><span class="hero__box-letter">P</span></li>
          <li><span class="hero__box-letter">Q</span></li>
          <li><span class="hero__box-letter">R</span></li>
          <li><span class="hero__box-letter">S</span></li>
          <li><span class="hero__box-letter">T</span></li>
          <li><span class="hero__box-letter">U</span></li>
          <li><span class="hero__box-letter">V</span></li>
          <li><span class="hero__box-letter">W</span></li>
          <li><span class="hero__box-letter">X</span></li>
          <li><span class="hero__box-letter">Y</span></li>
          <li><span class="hero__box-letter">Z</span></li>
        </ul>
        <ul class="hero__box-list--bottom">
          <li><span class="hero__box-numb">1</span></li>
          <li><span class="hero__box-numb">2</span></li>
          <li><span class="hero__box-numb">3</span></li>
          <li><span class="hero__box-numb">4</span></li>
          <li><span class="hero__box-numb">5</span></li>
          <li><span class="hero__box-numb">6</span></li>
          <li><span class="hero__box-numb">7</span></li>
          <li><span class="hero__box-numb">8</span></li>
          <li><span class="hero__box-numb">9</span></li>
          <li><span class="hero__box-numb">0</span></li>
        </ul>
      </div>
    </div>
    <picture data-aos="fade-left" data-aos-duration="3000">
      <source
        srcset="
          ./images/hero/desktop/drink-juice-cocktail-fruit-desktop-min.png    1x,
          ./images/hero/desktop/drink-juice-cocktail-fruit-desktop@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/drink-juice-cocktail-fruit-tablet-min.png    1x,
          ./images/hero/tablet/drink-juice-cocktail-fruit-tablet@2x-min.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/mobil/drink-juice-cocktail-fruit-mob-min.png    1x,
          ./images/hero/mobil/drink-juice-cocktail-fruit-mob@2x-min.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobil/drink-juice-cocktail-fruit-mob-min.png"
        alt="cocktail"
        class="hero__box-img"
      />
    </picture>
    <div class="hero__blok">
      <label for="cocktail" class="hero__blok-label"
        >Search your favorite cocktail by ABC</label
      >
      <div class="wrap">
        <div id="select"></div>
      </div>
    </div>
  </div>
  <!-- <div class="hero__contein">
    <p class="hero__contain-text">Sorry, we didn't find any cocktail for you</p>
    <picture>
      <source
        srcset="
          ./images/hero/desktop/group-desktop-min.png    1x,
          ./images/hero/desktop/group-desktop@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/group-tablet-min.png    1x,
          ./images/hero/tablet/group-tablet@2x-min.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/mobil/group-mobil-min.png    1x,
          ./images/hero/mobil/group-mobil@2x-min.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobil/group-mobil-min.png"
        alt="dinner"
        class="hero__contein-img"
      />
    </picture>
  </div> -->
</section>
