<section class="hero container">
  <div class="hero-box">
    <h1 class="hero-box-title">
      A party without cocktails is not like a party
    </h1>
    <picture>
      <source
        srcset="
          ./images/hero/desktop/drink-juice-cocktail-fruit-desktop-min.png    1x,
          ./images/hero/desktop/drink-juice-cocktail-fruit-desktop@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/drink-juice-cocktail-fruit-tablet-min.png    1x,
          ./images/hero/tablet/drink-juice-cocktail-fruit-tablet@2x-min.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/mobil/drink-juice-cocktail-fruit-mob-min.png    1x,
          ./images/hero/mobil/drink-juice-cocktail-fruit-mob@2x-min.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobil/drink-juice-cocktail-fruit-mob-min.png"
        alt="cocktail"
        class="hero-box-img"
      />
    </picture>
    <div class="hero-blok">
      <label for="cocktail" class="hero-blok-label"
        >Search your favorite cocktail by ABC</label
      >
      <select id="cocktail" name="cocktail" class="hero-blok-select">
        <option>A</option>
        <option>B</option>
        <option>C</option>
        <option>D</option>
        <option>C</option>
        <option>E</option>
        <option>F</option>
      </select>
    </div>
  </div>
  <div class="hero-contein">
    <p class="hero-contain-text">Sorry, we didn't find any cocktail for you</p>
    <picture>
      <source
        srcset="
          ./images/hero/desktop/group-desktop-min.png    1x,
          ./images/hero/desktop/group-desktop@2x-min.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero/tablet/group-tablet-min.png    1x,
          ./images/hero/tablet/group-tablet@2x-min.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/mobil/group-mobil-min.png    1x,
          ./images/hero/mobil/group-mobil@2x-min.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobil/group-mobil-min.png"
        alt="dinner"
        class="hero-contein-img"
      />
    </picture>
  </div>
</section>
