<section class="cocktails">
  <div class="container">
    <div class="modal">
      <h1 class="modal__title">Negroni</h1>
      <ul>
        <li>
          <h3 class="modal__inst">INSTRACTIONS:</h3>
          <p class="modal__text">
            Add the gin, Campari and sweet vermouth to a mixing glass filled
            with ice, and stir until well-chilled. Strain into a rocks glass
            filled with large ice cubes. Garnish with an orange peel.
          </p>
          <img
            src="../src/ACID.jpg"
            alt="the drink"
            class="modal__img"
            width="280"
            height="280"
          />
        </li>
        <li>
          <h3 class="modal__ing">INGREDIENTS</h3>
          <p class="modal__per-cocktail">Per cocktail</p>
          <p class="modal__ingrid-text">
            <span class="modsl-star">✶</span> Ice
          </p>
          <p class="modal__ingrid-text">
            <span class="modsl-star">✶</span> 1 ounce gin
          </p>
          <p class="modal__ingrid-text">
            <span class="modsl-star">✶</span> 1 ounce Campari
          </p>
          <p class="modal__ingrid-text">
            <span class="modsl-star">✶</span> 1 ounce sweet vermouth
          </p>
          <p class="modal__ingrid-text">
            <span class="modsl-star">✶</span> Garnish: orange peel
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
