.modal {
  position: static;
}

.modal__close {
  top: 12px;
  right: 12px;
  padding: 0;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background-color: $accentColor;

  position: fixed;
  justify-content: center;

  transition: $mainTransition;
  fill: $darkThemeBG;
}

.modal__title {
  margin-top: 40px;
  margin-bottom: 20px;

  font-size: 32px;
}

.modal__inst {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.modal__ingr {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.modal__text {
  display: inline-block;

  margin-bottom: 32px;

  width: 275px;
  max-width: 100%;
  font-weight: 400;
  line-height: 28px;
}

.modal__img {
  margin-bottom: 22px;
  display: inline-block;
}

.modal__ing {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.modal__per-cocktail {
  margin-bottom: 8px;
}

.modal__ingrid-input {
  display: block;

  font-weight: 400;
  line-height: 26px;
  color: rgba(95, 103, 117, 1);
}

.modal__ingrid-input:hover,
.modal__ingrid-input:focus {
  color: $accentColor;
}

.modsl-star {
  color: #000917;
}

.modal__all-ing {
  margin-bottom: 32px;
}

.btn {
  margin-bottom: 40px;
  padding: 12px 24px;
  cursor: pointer;

  font-family: 'Roboto';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $lightThemeBG;

  background: $accentColor;
  border-radius: 4px;
  transition: $mainTransition;
  border: none;
}

.btn:hover,
.btn:focus {
  color: $accentColor;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  transition: $mainTransition;
}
