.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  // transition: opacity 250ms linear, visibility 250ms linear;
}

// .backdrop.is-hidden {
//   opacity: 0;
//   // visibility: hidden;
//   pointer-events: none;
// }

// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0) rotate(0);
// }

.modal {
  padding: 40px 20px;

  max-width: 822px;
  height: 956px;
  background-color: $lightThemeBG;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms linear;

  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__title {
  margin-bottom: 20px;

  font-family: $secondaryFont;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: calc(38 / 32);

  color: $lightThemeMainColor;
}

.modal__inst {
  margin-bottom: 20px;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: $lightThemeMainColor;
}

.modal__text {
  margin-bottom: 32px;

  width: 100%;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(28 / 16);

  color: $searchLettersColor;
}

.modal__img {
  margin-bottom: 22px;
  display: inline-block;
  width: 100%;
}

.modal__ing {
  margin-bottom: 8px;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);

  color: #000917;
}

.modal__per-cocktail {
  margin-bottom: 8px;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(21 / 14);

  color: $lightThemeMainColor;
}

.modal__ing-all {
  margin-bottom: 32px;
}

.modal__ing-input {
  display: block;

  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: $searchLettersColor;
}

.modal__ing-input:hover,
.modal__ing-input:focus {
  color: $accentColor;
}

.modal-star {
  color: #000917;
}
