.hero-box {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.hero-box-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  color: $accentColor;
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    font-size: 26px;
    line-height: 42px;
    padding-top: 100px;
  }
}

.hero-box-img {
  width: 100%;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 77px;
  }
}

.hero-blok {
  @include tablet {
    visibility: hidden;
    display: none;
  }
}

.hero-blok-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  color: #000000;
  opacity: 0.8;
}

.hero-blok-select {
  display: block;
  margin: 20px auto 40px;
  padding: 6px 10px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  color: #fd5103;
  width: 93px;
}

.hero-contain-text {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
}

.hero-contein-img {
  width: 100%;
}
